{% extends "AppBundle::base.html.twig" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/appbundle/css/actions/actions.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/appbundle/css/promise.css') }}" >
{% endblock %}



{%block body %}

    <input type="hidden" id="promise-code" value="{{promise.code}}"></input>
    <input type="hidden" id="promise-verification" value="{{verification}}"></input>
    {% set qrcode=promise.code %}
    {% if (event) %}

    {% endif %}


    <div class="card" >
        <div class = "card-header">
            {%if (message)%}
                <b>
                    <div class="text-success lead">
                        {{message[0]}}
                    </div>
                </b>
            {%endif%}
            <div class="date-action">{{promise.getDate()|date("Y-m-d H:m:s")}}</div>
            <label class="text-primary responsible" >Moneda respaldada por <b>{{promise.responsible.getDisplayName()}}</b>

            </label>
            <a href="{{path('profile')}}?info={{promise.responsible.getCode}}" target="_blank">
                <div> <b>==> Ver perfil público</b> </div>
            </a>

        </div>
        <div class="card-block">
            <div>
                <label><b>Descripción de la moneda o promesa: </b></label><textarea readonly class="form-control "  rows="7" >{{promise.description}}</textarea>
            </div>
            </br>
            <div id="div-info">

                <div id="owner">


                    {%if (event.action=="anonymousgrab")%}
                        {% set owner = null %}
                    {%elseif (event.action=="claim")%}
                        {% set owner = event.owner %}
                    {%elseif (event.action=="review")%}
                        {%set owner = event.owner%}
                    {%else%}
                        {% set owner = event.receiver %}
                    {%endif%}


                    <div class="date-action">{{event.date|date('Y-m-d H:m:s')}}</div>
                    {%if (event.action=="claim")%}
                        <span>Moneda reclamada por:</span>
                        <div class="font-weight-bold">{%if (owner)%} {{owner.getDisplayName()}} {%else%} Anónimo {%endif%}</div>
                        <a href="{{path('profile')}}?info={{owner.getCode}}" target="_blank">
                            <div> <b>==> Ver perfil público</b> </div>
                        </a>
                    {%elseif (event.action=="review")%}
                        <span>Moneda utilizada por: </span>
                        <div class="font-weight-bold">{%if (owner)%} {{owner.getDisplayName()}} {%else%} Anónimo {%endif%}</div>
                        <a href="{{path('profile')}}?info={{owner.getCode}}" target="_blank">
                            <div> <b>==> Ver perfil público</b> </div>
                        </a>
                    {%elseif (event.action=="release")%}

                        <span>Dueño actual:</span>
                        <div class="font-weight-bold"> Moneda Libre, puedes RECOGERLA!</div>

                    {%elseif (event.action=="transfer")%}

                        <span>Moneda transferida a:</span>
                        <div class="font-weight-bold">{%if (owner)%} {{owner.getDisplayName()}} {%else%} Anónimo {%endif%}</div>   <a href="{{path('profile')}}?info={{owner.getCode}}" target="_blank">
                            <div> <b>==> Ver perfil público</b> </div>
                        </a>

                    {%else%}

                        <span>Dueño actual:</span>
                        <div class="font-weight-bold">{%if (owner)%} {{owner.getDisplayName()}} {%else%} Anónimo {%endif%}</div>
                        <a href="{{path('profile')}}?info={{owner.getCode}}" target="_blank">
                            <div> <b>==> Ver perfil público</b> </div>
                        </a>
                    {%endif%}


                </div>
            </div>

            {%if not userSession%}
                {{ include ('AppBundle:index:login.html.twig') }}    
            {%endif%}
        </div>
    {%endblock%}
    {%block afterCommonJs %}  
        <div class="card-footer">

            {% if (event.action != "review") %}
                {{ include ('AppBundle:promise:actions/actions.html.twig') }}
            {%else%}
                {% include ('AppBundle:promise:review.html.twig') with{'review':review} %}   
            {%endif%}

        </div>

    </div>


{%endblock%}

{%block js %}
    <script src="{{ asset('bundles/appbundle/js/md5.js')}}"></script>
{%endblock%}